@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Star Wars Knowledge Base settings</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Clear database</h2>
        <p>Click this button to clear database</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Settings" asp-action="Clear">
          May the Force be with you
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>Update database</h2>
        <p>Click this button to update database</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Settings" asp-action="Update">
          May the Force be with you
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>