@{
    ViewData["Title"] = "Star Wars KB";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["HelloMsg"]</h1>
    <p>to Star Wars KB</p>
</div>
<div class="text-center">
    <a asp-area="" asp-controller="Swkb" asp-action="Characters">
        <img src="https://img.icons8.com/color/480/000000/darth-vader.png" class="img-fluid" alt="darth"/>
    </a>
</div>