bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/*
StarWarsKb.Infrastructure/Terraform/terraform.tfstate
StarWarsKb.Infrastructure/Terraform/terraform.tfstate.backup
.sonarqube/*
StarWarsKb.UnitTests/TestResults
sonar_test.ps1